node_modules/
.pnpm-store/

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

coverage/
.nyc_output/

dist/
build/

.idea/
.vscode/

command/upload-cache.json
